<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>net.wmayner.bigupdate</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>TERM</key>
    <string>ansi</string>
  </dict>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>/Users/will/dotfiles/scripts/bigupdate</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>11</integer>
    <key>Minute</key>
    <integer>00</integer>
  </dict>
</dict>
</plist>
